body,
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

button {
    cursor: pointer;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    border: 1px solid navy;
    background-color: dodgerblue;
    color: white;
    margin-bottom: 1em;
}

canvas {
    background-color: rgb(238, 229, 229);

}