{% load static %}

<!doctype html>
<html lang="en">

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="{% static 'whiteboard/css/style.css' %}" rel='stylesheet' type='text/css'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Shared whiteboard v0.2</title>
    <meta name="description" content="Draw">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block content %}

    {% endblock content %}
</body>

</html>