{% extends 'whiteboard/base.html' %}
{% load static %}

{% block content %}
<header>
    <div>
        <h1>Shared whiteboard</h1>
    </div>
</header>

<section id="main">

    <h3>Start a new drawing session</h3>
    <p>
        <a href="{% url 'room' room_name %}">New drawing session</a>
    </p>

    <h3>Enter a previous drawing session</h3>
    {% for room_name in used_room_names %}
    <p>
        <a href="{% url 'room' room_name %}">Room: {{room_name}}</a>
    </p>

    {% endfor %}
</section>
{% endblock content %}
