{% extends 'whiteboard/base.html' %}
{% load static %}

{% block content %}
<header>
    <div>
        <h1>Shared whiteboard</h1>
        <h3><a href="{% url 'index' %}">Home</a> /  Room: {{ room_name }} </h3>
    </div>
</header>

<section id="main">
    <canvas id="drawCanvas" width="300" height="300"></canvas>
</section>

<script>
    var roomName = "{{ room_name }}" // Used on app.js
</script>

<script src="{% static 'whiteboard/js/app.js' %}"></script>
{% endblock content %}
